@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

body {
  background-color: #fff9f5;
  height: 100%;
  margin: 0;
  padding: 0;
}

.headerBox {
  position: relative;
  width: 1680px;
  background-image: url('https://images.pexels.com/photos/4202483/pexels-photo-4202483.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4202483.jpg&fm=jpg');
  background-position: center center;
  background-size: cover;
  height: 750px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textBox {
  background-color: #fff9f5;
  height: 300px;
  width: 1280px;
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  color: #542a19;
}
.navBar {
  display: flex;
  height: 74px;
  margin: 20px;
  gap: 100px;
  justify-content: space-between;
  text-decoration: none;
}
.spacer {
  height: 100px;
}

.menuRight {
  display: flex;
  gap: 15px;
  text-decoration: none;
}
.footer {
  height: 613px;
  width: 1680px;
  background-color: #542a19;
  text-decoration: none;
}

.home {
  text-decoration: none;
  color: #542a19;
  font-family: 'Lato', sans-serif;
}
.about {
  text-decoration: none;
  color: #542a19;
  font-family: 'Lato', sans-serif;
}
.price {
  text-decoration: none;
  color: #542a19;
  font-family: 'Lato', sans-serif;
}
.location {
  text-decoration: none;
  color: #542a19;
  font-family: 'Lato', sans-serif;
}
.logo {
  background-image: url('https://i.ibb.co/pbTRzKF/Skyn-Lodge-5.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 95px;
  width: 250px;
}

.footerLogo {
  background-image: url('https://i.ibb.co/5Ys1WCw/Skyn-Lodge-6.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100px;
  width: 250px;
  margin: 75px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  /* gap: 50px; */
}

.footerHome {
  text-decoration: none;
  color: #fff9f5;
  font-family: 'Lato', sans-serif;
}
.footerAbout {
  text-decoration: none;
  color: #fff9f5;
  font-family: 'Lato', sans-serif;
}
.footerPrice {
  text-decoration: none;
  color: #fff9f5;
  font-family: 'Lato', sans-serif;
}
.footerLocation {
  text-decoration: none;
  color: #fff9f5;
  font-family: 'Lato', sans-serif;
}

.footerPhone {
  text-decoration: none;
  color: #fad0b1;
  font-family: 'Lato', sans-serif;
}
.footerEmail {
  text-decoration: none;
  color: #fad0b1;
  font-family: 'Lato', sans-serif;
}

.footerAddress {
  text-decoration: none;
  color: #fad0b1;
  font-family: 'Lato', sans-serif;
}
.footerContactUs {
  display: flex;
  flex-direction: column;
  margin: 75px;
}
.footerMenu {
  display: flex;
  flex-direction: column;
  margin: 75px;
}
