@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
#map {
  height: 400px;
  width: 100%;
}

body {
  background-color: #fff9f5;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.headerBox {
  position: relative;
  width: 1680px;
  background-image: url('https://images.pexels.com/photos/4202483/pexels-photo-4202483.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4202483.jpg&fm=jpg');
  background-position: center center;
  background-size: cover;
  height: 750px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textBox {
  background-color: #fff9f5;
  height: 300px;
  width: 1280px;
  font-weight: bolder;
}
.navBar {
  display: flex;
  height: 90px;
  margin: 20px;
  gap: 100px;
  justify-content: space-between;
  font-weight: lighter;
}

.spacer {
  height: 100px;
}

.menuRight {
  display: flex;
  gap: 15px;
}
.footer {
  height: 613px;
  width: 1680px;
  background-color: #542a19;
}

.home {
  color: #542a19;
}
.about {
  color: #542a19;
}
.price {
  color: #542a19;
}
.location {
  color: #542a19;
}
.logo {
  background-image: url('https://i.ibb.co/sy9PGpr/2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100px;
  width: 250px;
  margin-bottom: 20px;
}

.footerLogo {
  background-image: url('https://i.ibb.co/L0bNTYW/1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100px;
  width: 250px;
  margin: 75px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.footerHome {
  color: #fff9f5;
}
.footerAbout {
  color: #fff9f5;
}
.footerPrice {
  color: #fff9f5;
}
.footerLocation {
  color: #fff9f5;
}

.footerPhone {
  color: #fad0b1;
}
.footerEmail {
  color: #fad0b1;
}

.footerAddress {
  color: #fad0b1;
}
.footerContactUs {
  display: flex;
  flex-direction: column;
  margin: 75px;
}
.footerMenu {
  display: flex;
  flex-direction: column;
  margin: 75px;
  color: #fff9f5;
}
a {
  text-decoration: none;
}

h3 {
  font-weight: lighter;
}
